/BACKUP_wz/
/build/
/nbproject/
/Reports/
/scripts/MAPLECAKES_npc/
/Tools/
target/

LeaderMS.lnk
build.xml
nbbuild.xml
GM_Command_Log.rtf
Broken_Stuff.txt

.env

# random generated script for modifying monster drops
monsterDrops.sql
